@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
/*MIXINS*/
/*FIN MIXINS*/
/*ESTILO MAIN 1° SECTION*/
.primeraSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem; }
  .primeraSection div h2 {
    font-size: 3rem;
    padding-left: 4rem; }
  .primeraSection div p {
    margin-top: 2rem;
    padding-left: 4rem;
    white-space: pre-line; }
  .primeraSection div img {
    max-width: 100%;
    padding-right: 4rem; }

/*FIN ESTILO MAIN 1° SECTION*/
/*ESTILO MAIN 2° SECTION*/
.segundasectionMain {
  background-color: #d0c6e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .segundasectionMain i {
    font-size: 2.6em;
    padding-bottom: 1rem;
    margin-top: 1rem; }
  .segundasectionMain h2 {
    text-align: center; }

/*FIN ESTILO MAIN 2° SECTION*/
/*ESTILO MAIN 3° SECTION*/
.tercerasectionMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem; }
  .tercerasectionMain div img {
    max-width: 100%;
    height: auto;
    padding-left: 4rem; }
  .tercerasectionMain .textoterceraSection {
    white-space: pre-line;
    margin-left: 3rem; }
    .tercerasectionMain .textoterceraSection h2 {
      font-size: 3rem;
      padding-right: 4rem; }
    .tercerasectionMain .textoterceraSection p {
      margin-top: 2rem;
      padding-right: 4rem; }

/*FIN ESTILO MAIN 3° SECTION*/
/*FIN ESTILO INDEX*/
/*MQ INDEX*/
@media (max-width: 768px) and (min-width: 0px) {
  .primeraSection {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .primeraSection div h2 {
      font-size: 2rem;
      padding: 0; }
    .primeraSection div p {
      font-size: 1rem;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      max-height: 100%;
      flex-wrap: nowrap;
      padding-left: 0; }
    .primeraSection div img {
      padding: 0; }
  .segundasectionMain {
    font-size: 0.8rem;
    width: 100%; }
  .tercerasectionMain {
    flex-direction: column;
    align-items: center; }
    .tercerasectionMain div img {
      padding: 0;
      text-align: center; }
  .textoterceraSection h2 {
    font-size: 2rem;
    padding: 0; }
  .textoterceraSection p {
    font-size: 1rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    max-height: 100%;
    flex-wrap: nowrap;
    padding-left: 0; } }

/*MIXINS*/
/*FIN MIXINS*/
/*ESTILO NOSOTROS 1° SECTION*/
.primerasectionNosotros {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem; }
  .primerasectionNosotros .imgNosotros {
    width: 400px;
    padding-left: 4rem; }
  .primerasectionNosotros .iconosNosotros {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    justify-content: space-around;
    align-items: center;
    padding-left: 3rem; }
  .primerasectionNosotros .parrafosNosotros {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding-right: 4rem; }

/*FIN ESTILO NOSOTROS 1° SECTION*/
/*ESTILO 3° SECTION NOSOTROS*/
.valoresNosotros {
  padding-top: 3rem; }
  .valoresNosotros h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5rem; }
  .valoresNosotros p {
    font-size: 1.5rem;
    font-weight: bold; }
  .valoresNosotros .iconosValores {
    font-size: 2rem; }

/*MIXINS*/
/* FIN MIXINS*/
/*ESTILO 1° SECTION PRODUCTOS*/
.sectionProductos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-height: auto;
  gap: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem; }

.tituloProductos {
  font-size: 3rem;
  padding-bottom: 2rem; }

.imgProductos {
  max-width: 100%;
  padding-left: 3rem; }

.textoProductos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  padding-left: 3rem; }

.parrafoProductos {
  text-align: center; }

.contenedor-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem; }

.card {
  max-width: 100%;
  text-align: center;
  background-color: #d0c6e7;
  margin: 2rem; }

.btn-card, .btn-segCard, .btn-terCard {
  padding: 0.3rem;
  font-size: 1.5rem;
  background-color: #b169d3;
  color: #43da7d; }

.btn-segCard {
  color: #25358f; }

.btn-terCard {
  color: #7a1e1e; }

/*FIN ESTILO PRODUCTOS*/
/*MIXINS*/
/*FIN MIXINS*/
/*ESTILO SUSTENTABILIDAD 1° SECTION*/
.textoSustentabilidad {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  gap: 5rem; }

.textoSustentabilidad h2 {
  /*font-size: $sizeH2;*/
  width: 30%;
  font-size: 4rem;
  line-height: 1.5;
  color: #b195c9; }

.textoSustentabilidad p {
  /* font-size: $sizeParrafos;*/
  font-size: 2rem;
  line-height: 1.5;
  width: 30%; }

/*ESTILO SUSTENTABILIDAD 3° SECTION*/
.faqs {
  padding: 2rem; }

.titulo-faqs {
  text-align: center;
  padding: 1.3rem;
  font-size: 3rem; }

.accordion-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b195c9; }

.accordion-button {
  background-color: #b195c9;
  color: black;
  text-decoration: none; }

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #b195c9; }

.boton-sust {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem; }

.button-sust {
  font-family: 'Mali', cursive;
  padding: 1rem; }

/*FIN ESTILO SUSTENTABILIDAD*/
/*MIXINS*/
/* FIN MIXINS*/
/*ESTILO 1° SECTION CONTACTO*/
.sectionimgContacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 4rem; }

.imgContacto {
  max-width: 100%; }

/*FIN ESTILO 1° SECTION CONTACTO*/
/*ESTILO 3° SECTION CONTACTO Y FORM*/
.tituloForm {
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem; }

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #b195c9;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

input[type=submit] {
  background-color: #be93e4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #8144d1; }

.col-6 {
  width: 100%; }

.col-md-6 {
  width: 100%; }

@media (max-width: 768px) and (min-width: 0px) {
  .tituloForm {
    font-size: 1.5rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*ESTILO BODY*/
body {
  background-image: linear-gradient(to bottom, #d3cce3, #e9e4f0);
  background-size: cover;
  max-width: 100%;
  height: auto; }

html {
  overflow-x: hidden; }

/*FIN ESTILO BODY*/
/*ESTILO FONTS*/
h2 {
  font-family: "Mali", cursive; }

h3 {
  font-family: "Mali", cursive; }

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem; }

/*FIN ESTILO FONTS*/
/*ESTILO HEADER*/
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%; }
  header img {
    padding-left: 2rem; }
  header h1 {
    font-family: "Mali", cursive;
    font-size: 3.75em;
    font-weight: 100;
    text-align: center;
    width: 80%; }

/*FIN ESTILO HEADER*/
/*ESTILO NAVEGACION*/
nav {
  font-family: 'Mali', cursive;
  border: 2px dashed #d0c6e7;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  background-color: #d3cce3; }
  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; }
  nav li :hover {
    background-color: #c2b3e6; }
  nav a {
    text-decoration: none;
    font-size: 2em; }

/*FIN ESTILO NAVEGACION*/
/*ESTILO FOOTER*/
footer {
  border-top: 2px dashed #d0c6e7;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  footer div {
    display: flex;
    justify-content: space-around;
    width: 10%; }

/*FIN ESTILO FOOTER*/
/*MEDIAQUERIES*/
@media only screen and (max-width: 480px) {
  /*MQ HEADER Y NAV*/
  header {
    flex-direction: column; }
  ul {
    flex-direction: column; }
  /*MQ FOOTER*/
  footer {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    text-align: center; }
  .iconosFooter {
    width: 20%;
    justify-content: space-between;
    margin-top: 1rem; }
  /*MQ NOSOTROS*/
  .primerasectionNosotros {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .imgNosotros {
    margin-bottom: 3rem; }
  .iconosNosotros {
    display: none; }
  .tituloProductos {
    line-height: 3rem;
    font-size: 2.4rem; }
  .contenedor-cards {
    flex-direction: column; }
  /*MQ SUSTENTABILIDAD*/
  .textoSustentabilidad {
    flex-direction: column; }
  .textoSustentabilidad h2 {
    font-size: 2.2rem; }
  .textoSustentabilidad p {
    font-size: 1rem; } }

@media only screen and (max-width: 768px) {
  /*MQ HEADER Y NAV*/
  header {
    flex-direction: column; }
  ul {
    flex-direction: column; }
  a {
    font-size: 1.5rem; }
  /*MQ FOOTER*/
  footer {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    text-align: center; }
  .iconosFooter {
    width: 20%;
    justify-content: space-between;
    margin-top: 1rem; }
  /*MQ NOSOTROS*/
  .iconosNosotros {
    font-size: 1rem; }
  .parrafosNosotros {
    font-size: 1rem; }
  .listaIconos {
    flex-direction: row; }
  /*MQ PRODUCTOS*/
  .sectionProductos {
    flex-direction: column; }
  .imgProductos {
    max-width: 100%;
    margin-bottom: 2rem; }
  .tituloProductos {
    line-height: 3rem;
    font-size: 2.4rem; }
  .contenedor-cards {
    flex-direction: column; }
  /*MQ SUSTENTABILIDAD*/
  .textoSustentabilidad {
    flex-direction: column; }
  .textoSustentabilidad h2 {
    font-size: 2.2rem; }
  .textoSustentabilidad p {
    font-size: 1rem; } }
