@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
/*MIXINS*/
/*FIN MIXINS*/
/*ESTILO MAIN 1° SECTION*/
.primeraSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem; }
  .primeraSection div h2 {
    font-size: 3rem;
    padding-left: 4rem; }
  .primeraSection div p {
    margin-top: 2rem;
    padding-left: 4rem;
    white-space: pre-line; }
  .primeraSection div img {
    max-width: 100%;
    padding-right: 4rem; }

/*FIN ESTILO MAIN 1° SECTION*/
/*ESTILO MAIN 2° SECTION*/
.segundasectionMain {
  background-color: #d0c6e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .segundasectionMain i {
    font-size: 2.6em;
    padding-bottom: 1rem;
    margin-top: 1rem; }
  .segundasectionMain h3 {
    text-align: center; }

/*FIN ESTILO MAIN 2° SECTION*/
/*ESTILO MAIN 3° SECTION*/
.tercerasectionMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem; }
  .tercerasectionMain div img {
    max-width: 100%;
    height: auto;
    padding-left: 4rem; }
  .tercerasectionMain .textoterceraSection {
    white-space: pre-line;
    margin-left: 3rem; }
    .tercerasectionMain .textoterceraSection h2 {
      font-size: 3rem;
      padding-right: 4rem; }
    .tercerasectionMain .textoterceraSection p {
      padding-right: 4rem; }

/*FIN ESTILO MAIN 3° SECTION*/
/*FIN ESTILO INDEX*/
/*MQ INDEX*/
@media (max-width: 768px) and (min-width: 0px) {
  .primeraSection {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .primeraSection div h2 {
      font-size: 2rem;
      padding: 0; }
    .primeraSection div p {
      font-size: 1rem;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      max-height: 100%;
      flex-wrap: nowrap;
      padding-left: 1rem;
      padding-right: 1rem; }
    .primeraSection div img {
      padding: 0; }
  .segundasectionMain {
    font-size: 0.8rem;
    width: 100%; }
  .tercerasectionMain {
    flex-direction: column;
    align-items: center; }
    .tercerasectionMain div img {
      padding: 0;
      text-align: center; }
  .tercerasectionMain .textoterceraSection {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 0; }
    .tercerasectionMain .textoterceraSection h2 {
      font-size: 2rem;
      padding: 0; }
    .tercerasectionMain .textoterceraSection p {
      font-size: 1rem;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      max-height: 100%;
      flex-wrap: nowrap;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-top: 2rem; } }

/*MIXINS*/
/*FIN MIXINS*/
/*ESTILO NOSOTROS 1° SECTION*/
.primerasectionNosotros {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  gap: 3rem; }
  .primerasectionNosotros .imgNosotros {
    width: 400px;
    padding-left: 4rem; }
  .primerasectionNosotros .iconosNosotros {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    justify-content: space-around;
    align-items: center;
    padding-left: 3rem; }
  .primerasectionNosotros p {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding-right: 4rem;
    padding: 1rem; }

/*FIN ESTILO NOSOTROS 1° SECTION*/
/*ESTILO 3° SECTION NOSOTROS*/
.valoresNosotros {
  padding-top: 3rem; }
  .valoresNosotros h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5rem; }
  .valoresNosotros p {
    font-size: 1.2rem;
    font-weight: bold; }

/*MQ NOSOTROS*/
@media (max-width: 1100px) and (min-width: 0px) {
  .primerasectionNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0; }
    .primerasectionNosotros .imgNosotros {
      padding: 0;
      margin: 0;
      max-width: 100%; }
    .primerasectionNosotros .iconosNosotros {
      display: flex;
      flex-direction: row;
      font-size: 1rem;
      gap: 1rem;
      padding: 0; }
    .primerasectionNosotros p {
      font-size: 1rem;
      padding-right: 0;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 1rem; }
  .valoresNosotros h2 {
    font-size: 2rem;
    margin: 0; }
  .valoresNosotros p {
    font-size: 1rem; } }

/*MIXINS*/
/* FIN MIXINS*/
/*ESTILO 1° SECTION PRODUCTOS*/
.sectionProductos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-height: auto;
  gap: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem; }
  .sectionProductos .textoProductos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    padding-left: 3rem; }
  .sectionProductos h2 {
    font-size: 3rem;
    padding-bottom: 2rem; }
  .sectionProductos .parrafoProductos {
    text-align: center; }
  .sectionProductos img {
    max-width: 100%;
    padding-left: 3rem; }

.contenedor-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem; }
  .contenedor-cards .card {
    max-width: 100%;
    text-align: center;
    background-color: #d0c6e7;
    margin: 2rem; }
  .contenedor-cards .btn-card, .contenedor-cards .btn-segCard, .contenedor-cards .btn-terCard {
    padding: 0.3rem;
    font-size: 1.5rem;
    background-color: #b169d3;
    color: #43da7d; }
  .contenedor-cards .btn-segCard {
    color: #25358f; }
  .contenedor-cards .btn-terCard {
    color: #7a1e1e; }

/*FIN ESTILO PRODUCTOS*/
/*MQ PRODUCTOS*/
@media (max-width: 768px) and (min-width: 0px) {
  .sectionProductos {
    flex-direction: column; }
    .sectionProductos .textoProductos {
      padding: 0; }
    .sectionProductos h2 {
      font-size: 2rem; }
    .sectionProductos p {
      font-size: 1rem;
      margin-left: 1rem;
      margin-right: 1rem; }
    .sectionProductos img {
      max-width: 100%;
      padding: 0; }
  .contenedor-cards {
    flex-direction: column; }
    .contenedor-cards h5 {
      font-size: 1rem; }
    .contenedor-cards p {
      font-size: .9rem; } }

/*MIXINS*/
/*FIN MIXINS*/
/*ESTILO SUSTENTABILIDAD 1° SECTION*/
.textoSustentabilidad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem;
  gap: 3rem; }
  .textoSustentabilidad h2 {
    font-size: 3rem;
    line-height: 1.5;
    color: #b195c9; }
  .textoSustentabilidad p {
    font-size: 1.2rem;
    line-height: 1.5; }

/*ESTILO SUSTENTABILIDAD 3° SECTION*/
.faqs {
  padding: 2rem; }
  .faqs h2 {
    text-align: center;
    padding: 1.3rem;
    font-size: 3rem; }
  .faqs p {
    font-weight: bold; }
  .faqs .accordion-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b195c9; }
  .faqs .accordion-button {
    background-color: #b195c9;
    color: black;
    text-decoration: none; }
  .faqs .accordion-button:not(.collapsed) {
    color: black;
    background-color: #b195c9; }
  .faqs .boton-sust {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem; }
  .faqs .button-sust {
    font-family: 'Mali', cursive;
    padding: 1rem; }

/*FIN ESTILO SUSTENTABILIDAD*/
@media (max-width: 768px) and (min-width: 0px) {
  .textoSustentabilidad {
    margin: 0;
    padding: 0;
    gap: 0; }
    .textoSustentabilidad h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
      text-align: center; }
    .textoSustentabilidad p {
      font-size: 1rem;
      text-align: center;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 3rem; } }

/*MIXINS*/
/* FIN MIXINS*/
/*ESTILO 1° SECTION CONTACTO Y FORM*/
.tituloForm {
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem; }
  .container input[type=text], .container textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #b195c9;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical; }
  .container input[type=submit] {
    background-color: #be93e4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; }
  .container input[type=submit]:hover {
    background-color: #8144d1; }
  .container .col-6 {
    width: 100%; }
  .container .col-md-6 {
    width: 100%; }

/*FIN ESTILO 1° SECTION CONTACTO Y FORM*/
/*ESTILO 3° SECTION CONTACTO*/
.sectionimgContacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 4rem; }
  .sectionimgContacto .imgContacto {
    max-width: 100%; }

/*FIN ESTILO 3° SECTION CONTACTO*/
@media (max-width: 768px) and (min-width: 0px) {
  .tituloForm {
    font-size: 2rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*ESTILO BODY*/
body {
  background-image: linear-gradient(to bottom, #d3cce3, #e9e4f0);
  background-size: cover;
  max-width: 100%;
  height: auto; }

html {
  overflow-x: hidden; }

/*FIN ESTILO BODY*/
/*ESTILO FONTS*/
h2 {
  font-family: "Mali", cursive; }

h3 {
  font-family: "Mali", cursive; }

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem; }

/*FIN ESTILO FONTS*/
/*ESTILO HEADER*/
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%; }
  header img {
    padding-left: 2rem; }
  header h1 {
    font-family: "Mali", cursive;
    font-size: 3.75rem;
    font-weight: 100;
    text-align: center;
    width: 80%; }

/*FIN ESTILO HEADER*/
/*ESTILO NAVEGACION*/
nav {
  font-family: 'Mali', cursive;
  border: 2px dashed #d0c6e7;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  background-color: #d3cce3; }
  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; }
  nav li :hover {
    background-color: #c2b3e6; }
  nav a {
    text-decoration: none;
    font-size: 2rem; }

/*FIN ESTILO NAVEGACION*/
/*ESTILO FOOTER*/
footer {
  border-top: 2px dashed #d0c6e7;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  footer div {
    display: flex;
    justify-content: space-around;
    width: 10%; }
    footer div i {
      font-size: 1.3rem; }

/*FIN ESTILO FOOTER*/
/*MEDIAQUERIES*/
@media (max-width: 768px) and (min-width: 0px) {
  header {
    flex-direction: column; }
    header img {
      padding: 0; }
    header h1 {
      font-size: 2.5rem;
      text-align: center; }
  nav ul {
    flex-direction: column; }
  nav a {
    font-size: 1.1rem; }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center; }
    footer p {
      font-size: 1rem; }
    footer div i {
      font-size: 1rem;
      padding: 1rem;
      margin-bottom: 1rem; } }
