*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*ESTILO BODY*/
body{
    background-image: linear-gradient(to bottom, rgb(211, 204, 227), rgb(233, 228, 240));
    background-size: cover;
    max-width: 100%;
    height: auto;
}
/*FIN ESTILO BODY*/
/*ESTILO HEADER*/
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    
 }
.imgLogo{
    padding-left: 2rem;
}

.tituloHeader{
    font-family: 'Alice', serif;
    font-size: 3.75rem;
    font-weight: 100;
    text-align: center;
    width: 80%;
}
/*FIN ESTILO HEADER*/
/*ESTILO NAVEGACION*/
nav{
    border: 2px dashed rgb(208, 198, 231);
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

a{
    text-decoration: none;
    font-size: 2rem;
    color: rgb(182, 133, 41);
}
/*FIN ESTILO NAVEGACION*/
/*ESTILO FOOTER*/
footer{
    border-top: 2px dashed rgb(208, 198, 231);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.iconosFooter{
    display: flex;
    justify-content: space-around;
    width: 10%;
}
/*FIN ESTILO FOOTER*/
/*ESTILO MAIN 1° SECTION*/
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}
.primeraSection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.imgprimeraSection{
    max-width: 100%;
    height: auto;
}

.textoprimeraSeccion{
    width: 35%;
}

.textoprimeraSeccion h2{
    font-size: 3.43rem;
}

.textoprimeraSeccion p{
    margin-top: 2rem;
}
/*FIN ESTILO MAIN 1° SECTION*/
/*ESTILO MAIN 2° SECTION*/
.segundasectionMain{
    background-color: rgb(208, 198, 231);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8rem;
}

.segundasectionMain i{
    font-size: 2.6rem;
    padding-bottom: 1rem;
}
/*FIN ESTILO MAIN 2° SECTION*/
/*ESTILO MAIN 3° SECTION*/
.tercerasectionMain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.imagenterceraSection{
    max-width: 100%;
    height: auto;
}

.textoterceraSection{
    width: 35%;
}

.textoterceraSection h2{
    font-size: 3.43rem;
}

.textoterceraSection p{
    margin-top: 2rem;
}
/*FIN ESTILO MAIN 3° SECTION*/

/*FIN ESTILO INDEX*/
/*ESTILO NOSOTROS 1° SECTION*/

.primerasectionNosotros{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    
}

.imgNosotros{
    max-width: 100%;
}

.iconos-texto-Nosotros{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 1.6rem;
    justify-content: space-between;

}

.parrafoNosotros{
    border: 2px solid salmon;
    text-align: center;
}

/*ESTILO 1° SECTION PRODUCTOS*/

.sectionProductos{
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    min-height: auto;
    gap: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    
}

.tituloProductos{
    font-size: 3.43rem;
    padding-bottom: 2rem;
}
.imgProductos{
    max-width: 100%;
    min-height: 40%;
    
}

.textoProductos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    line-height: 2rem;

}

.contenedor-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.card{
    max-width: 100%;
    text-align: center;
    background-color: rgb(208, 198, 231);
    margin: 2rem;
}

/*FIN ESTILO PRODUCTOS*/
/*ESTILO SUSTENTABILIDAD 1° SECTION*/

.textoSustentabilidad{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    gap: 5rem;
    
}
.textoSustentabilidad h2{
    font-size: 5rem;
    width: 35%;
    color: rgb(177, 149, 201);
}
.textoSustentabilidad p{
    font-size: 1.5rem;
    width: 35%;
}

/*ESTILO SUSTENTABILIDAD 3° SECTION*/

.sectionimgSustentabilidad{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgSustentabilidad{
    max-width: 100%;
}
/*FIN ESTILO SUSTENTABILIDAD*/
/*ESTILO 1° SECTION CONTACTO*/
.sectionimgContacto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
}

.imgContacto{
    max-width: 100%;
}

/*FIN ESTILO 1° SECTION CONTACTO*/
/*ESTILO 3° SECTION CONTACTO Y FORM*/

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(177, 149, 201);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: rgb(216, 195, 235);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }