@import "variables";
/*MIXINS*/
@mixin flexCenterrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flexCenterCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* FIN MIXINS*/
/*ESTILO 1째 SECTION CONTACTO Y FORM*/
.tituloForm{
  margin-bottom: 2rem;
  font-size: $sizeH2;
  text-align: center
} 
.container{
  @include flexCenterCol;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;

        input[type=text], textarea {
          width: 100%;
          padding: 12px;
          border: 1px solid rgb(177, 149, 201);
          border-radius: 5px;
          box-sizing: border-box;
          margin-top: 6px;
          margin-bottom: 16px;
          resize: vertical;
        }
        input[type=submit] {
          background-color: rgb(190, 147, 228);
          color: white;
          padding: 12px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
        input[type=submit]:hover {
          background-color: #8144d1;
        }
        .col-6{
          width: 100%;
        }
        .col-md-6{
          width: 100%;
        }
}
/*FIN ESTILO 1째 SECTION CONTACTO Y FORM*/
/*ESTILO 3째 SECTION CONTACTO*/
.sectionimgContacto{
    @include flexCenterrow;
    margin: 4rem;

    .imgContacto{
      max-width: $widthImg;
  }
}
/*FIN ESTILO 3째 SECTION CONTACTO*/
  @media (max-width:768px) and (min-width:0px){
      .tituloForm{
        font-size: $sizeH2MQ;
      }
  }