@import "variables";
/*MIXINS*/
@mixin flexCenterrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexCenterCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*FIN MIXINS*/
/*ESTILO MAIN 1° SECTION*/
.primeraSection {
    @include flexCenterrow;
    gap: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;

    div{
        h2{
            font-size: $sizeH2;
            padding-left: 4rem;
        }
        p{
            margin-top: 2rem;
            padding-left: 4rem;
            white-space: pre-line;
        }
        img{
            max-width: $widthImg;
            padding-right: 4rem;
        }
    }
}
/*FIN ESTILO MAIN 1° SECTION*/
/*ESTILO MAIN 2° SECTION*/
.segundasectionMain{
    background-color: $colormidSection;
    @include flexCenterCol;

    i{
        font-size: 2.6em;
        padding-bottom: 1rem;
        margin-top: 1rem;
    }

    h3{
        text-align: center
    }
}
/*FIN ESTILO MAIN 2° SECTION*/
/*ESTILO MAIN 3° SECTION*/
.tercerasectionMain{
    @include flexCenterrow;
    gap: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;

    div{
        img{
            max-width: $widthImg;
            height: auto;
            padding-left: 4rem;
        }
    }
    .textoterceraSection{
        white-space: pre-line;
        margin-left: 3rem;

        h2{
            font-size: $sizeH2;
            padding-right: 4rem;
        }
        p{
            padding-right: 4rem;
        }
    }
}
/*FIN ESTILO MAIN 3° SECTION*/
/*FIN ESTILO INDEX*/
/*MQ INDEX*/
@media (max-width:768px) and (min-width:0px){
    .primeraSection{
        height: auto;
        @include flexCenterCol;
        text-align: center;

            div{
                h2{
                    font-size: $sizeH2MQ;
                    padding: 0;
                    
                }
                p{
                    font-size: $sizeParrafosMQ;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                    max-height: 100%;
                    flex-wrap: nowrap;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    
                }
                img{
                    padding: 0;
                }
            }
    }
    .segundasectionMain{
        font-size: 0.8rem;
        width: 100%;
    }
    .tercerasectionMain{
        flex-direction: column;
        align-items: center;
            div{
                img{
                    padding: 0;
                    text-align: center;
                }
            }
    }
    .tercerasectionMain{
        .textoterceraSection{
            text-align: center;
            @include flexCenterCol;
            padding: 0;
            margin-left: 0;

            h2{
                font-size: $sizeH2MQ; 
                padding: 0;
            }
            p{
                font-size: $sizeParrafosMQ;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                max-height: 100%;
                flex-wrap: nowrap;
                padding-left: 1rem;
                padding-right: 1rem;
                margin-top: 2rem;
            }
        }
    }
}