@import "variables.scss";

@mixin flexCenterrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexCenterCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*ESTILO MAIN 1° SECTION*/

.primeraSection {
    @include flexCenterrow;
    gap: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;

    div{
        h2{
            font-size: $sizeH2;
        }
        p{
            margin-top: 2rem;
            white-space: pre-line;
        }
        img{
            max-width: $widthImg;
        }
    }
}


/*FIN ESTILO MAIN 1° SECTION*/
/*ESTILO MAIN 2° SECTION*/
.segundasectionMain{
    background-color: $colormidSection;
    @include flexCenterCol;

    i{
        font-size: 2.6em;
        padding-bottom: 1rem;
        margin-top: 1rem;
    }
}

/*FIN ESTILO MAIN 2° SECTION*/
/*ESTILO MAIN 3° SECTION*/
.tercerasectionMain{
    @include flexCenterrow;
    gap: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;

    div{
        img{
            max-width: $widthImg;
            height: auto;
        }
    }

    .textoterceraSection{
        white-space: pre-line;
        margin-left: 3rem;

        h2{
            font-size: $sizeH2;
        }
        p{
            margin-top: 2rem;
        }
    }
}

/*FIN ESTILO MAIN 3° SECTION*/
/*FIN ESTILO INDEX*/