@import "variables.scss";
/*MIXINS*/
@mixin flexCol {
    display: flex;
    flex-direction: column;
}
/*FIN MIXINS*/
/*ESTILO NOSOTROS 1° SECTION*/

.primerasectionNosotros{
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;

        .imgNosotros{
            width: 400px;
            padding-left: 4rem;
        }
        .iconosNosotros{
            @include flexCol;
            font-size: 1.5em;
            justify-content: space-around;
            align-items:center;
            padding-left: 3rem;
        }
        .parrafosNosotros{
            @include flexCol;
            justify-content: space-around;
            text-align: center;
            padding-right: 4rem;
        }
}
/*FIN ESTILO NOSOTROS 1° SECTION*/
/*ESTILO 3° SECTION NOSOTROS*/
.valoresNosotros{
    padding-top: 3rem;

        h2{
            text-align: center;
            font-size: $sizeH2;
            margin-bottom: 5rem;
        }

        p{
            font-size: 1.5rem;
            font-weight: bold;
        }
        .iconosValores{
            font-size: 2rem;
        }
}