@import "variables.scss";
/*MIXINS*/
@mixin flexCol {
    display: flex;
    flex-direction: column;
}
/*FIN MIXINS*/
/*ESTILO NOSOTROS 1° SECTION*/

.primerasectionNosotros{
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    gap: 3rem;

        .imgNosotros{
            width: 400px;
            padding-left: 4rem;
        }
        .iconosNosotros{
            @include flexCol;
            font-size: 1.5em;
            justify-content: space-around;
            align-items:center;
            padding-left: 3rem;
        }
        p{
            @include flexCol;
            justify-content: space-around;
            text-align: center;
            padding-right: 4rem;
        }
}
/*FIN ESTILO NOSOTROS 1° SECTION*/
/*ESTILO 3° SECTION NOSOTROS*/
.valoresNosotros{
    padding-top: 3rem;

        h2{
            text-align: center;
            font-size: $sizeH2;
            margin-bottom: 5rem;
        }

        p{
            font-size: $sizeParrafos;
            font-weight: bold;
        }
        
}

 /*MQ NOSOTROS*/
 @media (max-width:1100px) and (min-width:0px){
    .primerasectionNosotros{
        @include flexCol;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;

        .imgNosotros{
            padding: 0;
            margin: 0;
            max-width: 100%;
        }
        .iconosNosotros{
            display: flex;
            flex-direction: row;
            font-size: 1rem;
            gap: 1rem;
            padding: 0;
        }
        p{
            font-size: $sizeParrafosMQ;
            padding-right: 0 ;
        }
    }

    .valoresNosotros{
        h2{
            font-size: $sizeH2MQ;
            margin: 0;
        }

        p{
            font-size: $sizeParrafosMQ;
        }
    }
}
