@import "variables.scss";

@mixin flexCenterCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexCenterrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*ESTILO 1° SECTION PRODUCTOS*/

.sectionProductos{
    @include flexCenterCol;
    max-width: 100%;
    min-height: auto;
    gap: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.tituloProductos{
    font-size: $sizeH2;
    padding-bottom: 2rem;
}

.imgProductos{
    max-width: 100%;
    padding-left: 3rem;
}

.textoProductos{
    @include flexCenterCol;
    line-height: 2rem;
    padding-left: 3rem;
    
}
.parrafoProductos{
    text-align: center;
    
}
.contenedor-cards{
    @include flexCenterrow;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.card{
    max-width: 100%;
    text-align: center;
    background-color: rgb(208, 198, 231);
    margin: 2rem;
}

.btn-card{
    padding: 0.3rem;
    font-size: 1.5rem;
    background-color: rgb(177, 105, 211);
    color: rgb(67, 218, 125);
}

.btn-segCard{
    @extend .btn-card;
    color: rgb(37, 53, 143);
}

.btn-terCard{
    @extend .btn-card;
    color: rgb(122, 30, 30);
}


/*FIN ESTILO PRODUCTOS*/