@import "variables.scss";

@mixin flexCenterrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexCenterCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*ESTILO SUSTENTABILIDAD 1° SECTION*/

.textoSustentabilidad{
    @include flexCenterrow;
    margin: 4rem;
    gap: 5rem;
}
.textoSustentabilidad h2{
    /*font-size: $sizeH2;*/
    width: 30%;
    font-size: 4rem;
    line-height: 1.5;
    color: rgb(177, 149, 201);
}
.textoSustentabilidad p{
   /* font-size: $sizeParrafos;*/
   font-size: 2rem;
    line-height: 1.5;
    width: 30%;
}

/*ESTILO SUSTENTABILIDAD 3° SECTION*/

.faqs{
    padding: 2rem;
}
.titulo-faqs{
    text-align: center;
    padding: 1.3rem;
    font-size: $sizeH2;
}

.accordion-item{
    @include flexCenterCol;
    background-color: rgb(177, 149, 201);
}


.accordion-button{
    background-color: rgb(177, 149, 201);
    color: black;
    text-decoration: none;
}

.accordion-button:not(.collapsed){
    color: black;
    background-color: rgb(177, 149, 201);
}

.boton-sust{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;    
}

.button-sust{
    font-family: 'Mali', cursive;
    padding: 1rem;
}
/*FIN ESTILO SUSTENTABILIDAD*/