@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import "variables.scss", "index.scss", "nosotros.scss", "productos.scss", "sustentabilidad.scss", "contacto.scss";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*ESTILO BODY*/
body{
    background-image: linear-gradient(to bottom, rgb(211, 204, 227), rgb(233, 228, 240));
    background-size: cover;
    max-width: 100%;
    height: auto;
}
html{
    overflow-x: hidden;
}
/*FIN ESTILO BODY*/
/*ESTILO FONTS*/
h2{
    font-family: $fontTitulos;
}
h3{
    font-family: $fontTitulos;
}
p{
    font-family: $fontParrafos;
    font-size: $sizeParrafos;
}
/*FIN ESTILO FONTS*/
/*ESTILO HEADER*/
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    
    img{
        padding-left: 2rem;
    }

    h1{
        font-family: $fontTitulos;
        font-size: 3.75em;
        font-weight: 100;
        text-align: center;
        width: 80%;
    }
 }

/*FIN ESTILO HEADER*/
/*ESTILO NAVEGACION*/

nav{
    font-family: 'Mali', cursive;
    border: 2px dashed rgb(208, 198, 231);
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    background-color: $colorNav;

    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    & li :hover{
        background-color: rgb(194, 179, 230);
    }

    a{
        text-decoration: none;
        font-size: 2em;
    }
}



/*FIN ESTILO NAVEGACION*/
/*ESTILO FOOTER*/
footer{
    border-top: 2px dashed rgb(208, 198, 231);
    display: flex;
    justify-content: space-around;
    align-items: center;

    div{
        display: flex;
        justify-content: space-around;
        width: 10%;
    }
}
/*FIN ESTILO FOOTER*/
/*MEDIAQUERIES*/
  @media only screen and (max-width:480px){ 
      /*MQ HEADER Y NAV*/
      header{
          flex-direction: column;
      }
      
      ul{
          flex-direction: column;
      }
      
      /*MQ FOOTER*/
      footer{
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          gap: 2rem;
          text-align: center;
      }
      .iconosFooter{
          width: 20%;
          justify-content: space-between;
          margin-top: 1rem;
      }
      
     
}
@media only screen and (max-width:768px){
    /*MQ HEADER Y NAV*/
    header{
        flex-direction: column;
    }
    
    ul{
        flex-direction: column;
    }
    a{
        font-size: 1.5rem;
    }
    /*MQ FOOTER*/
    footer{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        text-align: center;
    }
    .iconosFooter{
        width: 20%;
        justify-content: space-between;
        margin-top: 1rem;
    }
}